#content {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 100%;
  max-width: 436px;
  padding: 1.75rem 16px;
  margin-inline: auto;
}

@media (min-width: 481px) {
  #content {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  #content {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  #content {
    max-width: 1200px;
  }
}

.cart-layout {
}

.cart__select-all-btn,
.cart__delete-btn {
  font-size: 14px;
}

img {
  size: 16px;
}
