.site__nav__togle[aria-expanded="false"] ~ .site__nav__content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100vw);
  z-index: 10;
  width: 75vw;
  overflow-y: auto;
}

.site__nav__togle[aria-expanded="true"] ~ .site__nav__content {
  /* move the nav content back into view */
  transform: translateX(0vw);
  /* add the translucent background behind the navigation */
  box-shadow: 0 0 0 150vmax rgba(0, 0, 0, 0.75);
}
